.hero__subtitle img{
width: 2.3rem;
height: 2.3rem;
}

.hero__content h1{
    font-size: 3.1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.highlight {
    color: #e48c19;
}

.hero__content p{
    font-size: 1.1rem;
    color:var(--text-color);
    line-height: 2rem;
}
.hero__img-box img, .hero__img-box video{
    width: 110%;
    height: 350px;
    border-radius: 12%;
    border: 1px solid var(--scondary-color);
    object-fit:  cover;
}

.hero__content{
    padding-top: 3.5rem;

}

.hero__img-box{
    padding-top: 2rem;
}

.Services__subtitle{
    font-size: 2.2rem;
    font-weight: 500;
    color:#ee6e6e;
    font-family: var(--subtitle-font-name);
}
.services__title{
    font-size: 2.5rem;
    font-weight: 500;

}
.feature__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience__content p{
    font-size: 1.1rem;
    color:var(--text-color);
    margin-top:1rem;
}
.counter__wrapper{
    margin-top: 2.5rem;
}

.counter__box span{
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 40px 20px 40px 20px;
}
.counter__box h6{
    font-size: .9rem;
    margin-top: 0.7rem;
    color:black;
}

.experience__img img{
    width: 80%;

}

.gallery__title{
    font-size:2.3rem;
    margin-bottom:2.5rem;
    margin-top: 1rem;


}

.masonry__img{
    transition: .3s;
}

.masonry__img:hover{
    transform: scale(1.1);
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;

}