.newsletter {
    background: #cae5f4;
    padding: 0;
    margin-top: 3rem;
}

.newsletter__img img{
    width: 100px;
}

.newsletter__content {
    padding: 50px 0;
}

.newsletter__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.newsletter__input input{
     border: none;
     font-size: 1rem;
     color: var(--heading-color);
}

.newsletter__input input:focus{
    outline: none;
}

.newsletter__btn{
    color:#ac49da;
    font-size: 1.1rem !important;
    padding: 0.5rem 1.5rem !important;
    background-color: rgb(217, 69, 236) !important;
}
.newsletter__btn:hover{
    padding: 0.5rem 1.5rem !important;
    background: var(--secondary-color) !important;
    color:#e60c0c !important;
    font-size: 1.1rem !important;
}
.newsletter__content{
    color: var(--heading-color);
    font-size:1.1rem;
}
.newsletter__content p{
    font-size: 1.0rem;
    font-weight: 480;
}