.search__bar{
    padding: 0.5rem .5rem;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 80px 0px;
    width:max-content;
    margin-top: 45px;
}

.form__group span{
    font-size:1rem;
    color:#7a43b9;
}

.form__group input{
    border:none;
    font-size: .8rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form__group input:focus{
   outline: none;
}

.form__group h6{
    margin-bottom: 0;
}
.form__group-fast{
    border-right:2px solid #3f1d9e;
}

.search__icon{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color:#110f10;
    border-radius: 10px 5px 10px 5px;
    cursor:pointer;
    

}