.tour__img img{
    width: 100%;
    border-radius:  5px 5px  0 0;
}

.card{
    border: none;
    box-shadow: rgba( 0, 0, 0 ,0.2) 0px 18px 50px -10px;
}
.tour__img{
    position: relative;
}
.tour__img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background:var(--primary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top span{
     color:chocolate;
}

.tour_rating{
    font-size: .5rem;
    color: var(--text-color);
}
.tour__location{
    color:var(--heading-color);
    font-weight: 500;
    font-size: 0.9em;
}

.tour__rating i,
.tour__location i{
    font-size: 1rem;
}
.tour__title{
    margin-top:1rem;
    font-size: 1.1rem;
    cursor:pointer;
}
.tour__title a{
    text-decoration:none;
    color: var(--heading-color);
    transition: .3s;
}
.tour__title a:hover{

    color: var(--secondary-color);
}

.card__bottom h6,span{

  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
}
.card__bottom h6 span{

    color: var(--primary-color);
    font-size: .8rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
  }
.booking__btn{
    background-color:var(--secondary-color) !important;
    cursor:pointer;
    padding: 0.2rem 0.5rem !important;
    border-radius: 8px;

}

.booking__btn a{
    color:#ebe3dc;
    text-decoration:solid;
    font-size: .9rem;

}
.booking__btn a:hover{
    color: #ee0d0d;
}